<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Inicio </title>
</head>
<body>

    <h3> Hola! Bienvenido al panel de inicio! </h3>

    <p> Si usted es "Papa" debe ingresar a la siguiente URL "papa/nombre/edad/fecha-de-nacimiento/" e ingresar los datos indicados. </p>

    <p> Si usted es "Mama" debe ingresar a la siguiente URL "mama/nombre/edad/fecha-de-nacimiento/idioma/", ingrese los datos indicados y el idioma en el que quiere recibir el saludo: "ingles" o "español" (por favor copiar y pegar el lenguage). </p>
    
    <p> Si usted es "Hermano" debe ingresar a la siguiente URL "hermano/nombre/edad/fecha-de-nacimiento/ e ingresar los datos indicados. </p>

</body>
</html>