<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
</head>
<body>

    <h3>Hola {{name}} desde mi primer Template!</h3>

    <p>Momento actual: {{ahora}}</p>

    <p>Mis notas son: {{notas}}</p>

    <ul>
        {% for nota in notas %}
            <li>
                {% if nota < 4 %}
                <p style="color: red;"> Nota mala: {{nota}} </p>
                {% else %}
                <p style="color: blue;"> Nota buena: {{nota}} </p>
                {% endif %}
            </li>
        {% endfor %}  
    </ul>
    
</body>
</html>